
.navbarr {
   
    float: right;
    margin: 10px;
    
}

.navbarrr {
   
padding-right: 20px;
    
}

@media(max-width:991px){
    .navbarrr {
   
        padding-right: 0px;
            
        }
}




.icon-bar{
    color:black !important;
}


li a{
    color: black !important;
    font-weight: 600;
}

li a:hover{
    background-color: white !important;
}

.wrap {
    max-width: 1000px;
    margin: 0 20px;
    padding: 0 20px;
}


.header {
    padding-top: 10vw;
    padding-left: 20vw;
    padding-right: 8rem;
    padding-bottom: 13vw;
}

.header-logo{
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 10vw;
}

.header-text{
    margin-top: 120px;
   margin-right: 2vw;


    font-size:  2.5vw;
    color: rgb(0, 0, 0);
    font-weight: 700;
    
    
}

.header-img{
    margin: 0;
    padding-top: 20px;
  
}

@media(max-width:806px){
    .header-img img{
        height: 50vw;
        
    }
    .header-text{
        font-size: 4vw;
        padding-right: 0;
        margin-top: 20px;
       padding-left: 0;
       margin-right: 0;
       width: 60vw;
    }
    .header {
        padding-top: 20vw;
        padding-left: 22vw;
        padding-right: 0px;
        
    }
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


.sec {
    padding: 4vw 0 15vw 5vw;
    position: relative;
    color: #fff;
}

.sec::before {
    content: '';
    position: absolute;
    top: 200;
    right: 0;
    bottom: 0;
    left: 0;
    transform: skewY(8deg);
    z-index: -1;
    background: rgb(65, 16, 187);
}

.sec-first::before {
    top: -12px;
}

.wrap h1{
    font-size: 5vw;
}