@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,900&display=swap');



.navbarr {
   
    float: right;
    margin: 10px;
    background-color: #FFFFFF;
}

.navbarrr {
   
padding-right: 20px;
    
}

@media(max-width:991px){
    .navbarrr {
   
        padding-right: 0px;
            
        }
}

.upbig{
    margin-top: 4vw;
    height: 6vw;
}

.upsml{
    position: absolute;
    height: 3vw;
    margin-top: 11vw;
}



.icon-bar{
    color:black !important;
}


li a{
    color: black !important;
    font-weight: 600;
}

li a:hover{
    background-color: white !important;
}




.header {
    padding-top: 5vw;
    padding-left: 8vw;
    padding-right: 8rem;
    padding-bottom: 13vw;
    /* height: 100vh; */
    
}

.header-logo{
    margin-top: -100px;
    padding-left: 6vw;
    padding-right: 10vw;
    height: 40vw;
}

.header-text{
    margin-top: 120px;
   margin-right: 2vw;


    font-size:  2.5vw;
    color: rgb(0, 0, 0);
    font-weight: 700;
    
    
}

.header-img{
    margin: 0;
    padding-top: 20px;
  
}

.navbar-toggler{
    border: none !important;
}


@media(max-width:806px){

    .header{
        width: 200px;
    }
    .header-img img{
        
        height: 50vw;
       
    }
    .header-text{
        font-size: 4vw;
        padding-right: 0;
        margin-top: 20px;
       padding-left: 0;
       margin-right: 0;
       width: 60vw;
    }
    .header {
        padding-top: 20vw;
        padding-left: 22vw;
        padding-right: 0px;
        
    }

    .upbig{
        height: 15vw;
    }

    .upsml{
        margin-top: 70px;
        height: 8vw;
    }


}




.sec {
    margin-top: 40px;
    padding: 0vw 0 5vw 3vw;
    position: relative;
    color: #fff;
}

.sec::before {
    content: '';
    position: absolute;
    top: 200;
    right: 0;
    bottom: 0;
    left: 0;
    transform: skewY(8deg);
    z-index: -1;
    
    background: rgba(17, 74, 149, 1);
    ;
}

.sec-first::before {
    top: -12px;
}

.wrap h1{
    margin-left: 20vw;
    font-size: 5vw;
}

.design{
    margin-top: 100px;
    width: 90%;
}

.des-head h2{
    
    padding-top: 150%;
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 6vw;
margin-top: -100px;
margin-left: -70px;

color: #000000;
}

.bike{
    height: 40vw;
    padding-left: 100px;
}

.des-text{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 2vw;
line-height: 2vw;
width: 40vw;
padding-left: 9vw;
padding-top: 1.2vw;


}

.design-img{
   padding-left: 20px;
   height: 6vw;
}

.des-con{
    padding-top: 40px;
    padding-left: 100px;
}

.mobile{
    display: none ;
    margin-top: 60px;
}

.des-head-mob h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    font-size: 5vw;
    
    margin-top: 30px;
    margin-left: 80%;
    color: #000000;
 }

@media(min-width: 779px){
    .pc{
        display: block;
    }

    .mobile{
        display: none;
    }

  
}

@media(max-width: 778px) and (min-width:576px){
    .pc{
        display: none;
    }

    .mobile{
        display: block;
    }

    .des-con{
        padding-top: 0px;
        padding-left: 0px;
        
    }

    .features{
        margin-left: 30%;
        overflow-x: hidden;
       
    }

    .design-img{
        padding-left: 20px;
        height: 8vw;
     }

     .bike{
         margin-left:45%;
         margin-top: 80px;
         padding-left: 0px;
     }
     
     
    
}

@media (max-width: 575px)
 {
    .pc{
        display: none;
    }

    .mobile{
        display: block;
        overflow-x: hidden;
    }

   .des-con{
       width: 100vw;
       margin-left: 28%;
       padding-top: 0px;
       margin-top: 0px;
       z-index: 2;
       padding-left: 0px;
       
   }

   .design-img{
    padding-left: 20px;
    height: 10vw;
 }

 .bike{
     padding-left: 0px;
 }
 
 .bike-img{
    margin-left:45%;
    padding-top: 60px;
    width: 100vw;
    
}

.des-head-mob{
    width: 100vw;
    
}

.des-head-mob h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 7vw;
    
    margin-top: 30px;
    margin-left: 38%;
    color: #000000;
 }
   
}




.onhov:hover .des-text{
      visibility: visible;
}

/* SLider */

.slider {
    width: 90vw;
  }
  
  
  
  .slick-dots {
    display: flex;
    justify-content: center;
    margin: 0 5vw 0 10vw;
    padding: 1rem 0;
    list-style-type: none;
    transform: rotate(9deg); 
  }
  .slick-dots li {
    margin: 0 0.25rem;
  }
  .slick-dots button {
    display: block;
    width: 2vw;
    height: 2vw;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: orange;
    text-indent: -9999px;
  }
  .slick-dots li.slick-active button {
    background-color: red;
  }

  .img-slider{
      float: right;
  }

  .imagg{
    
    float: right;
    margin-right: 30px;
    margin-top: -10px;
    z-index: 10;
  }

  @media(max-width:998px){
    .slick-dots {
        display: flex;
        justify-content: center;
        margin: 0 50vw ;
        padding: 0 0;
        list-style-type: none;
        transform: rotate(9deg); 
        
      }

      .wrap {
        
        margin-left: 1px;
        padding-top: -5px;
    }
  }

  .sl_eli{
      height: 10vw;
  }

  .eli{
      position: absolute;
      top: 33vw;
  }


  .location{
      margin-top: 20vw ;
      
      padding-right: 0px;
      background: rgba(17, 74, 149, 1);

  }

  .map{
      height: 40vw;
      width: 42vw;
      margin-top: -5vw;
      margin-bottom: 5vw;
      
  }


  .cont{
      margin-top: 5vw;
     margin-left: 3vw;
     text-align: left;
  }



  .locate-head h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 5vw;
    
    /* identical to box height */
    
    
    color: #FFFFFF;
  }

  .locate-content p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    
    
    color: #FFFFFF;
  }

  .loc-eli{
      position: absolute;
      margin-top: -5vw;
      height: 10vw;
      display: block;
  }

  .loc-eli2{
      display: none;
      position: relative;
      height: 14vw;
      width: 10vw;
      right: 0;
      top: 235%;
      z-index: 5;
  }

  .foot{
    text-align: center;
    background-color: #1A1A1A;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
   
    
}

 .contact{
     display: block;
     margin-top: 10vw;
     background-image: url("images/bg2.png");
     background-size: cover;
     height: 44vw;
 }

 .team-text{
     margin-left: 2vw;
 }

 .tee{
     padding-left: 150px;
 }

 .team-text h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 6vw;
    
    
    color: #000000;
 }


  @media(max-width: 767px){
      .cont{
          margin-left: 20vw;
      }

      .locate-head h2{
          font-size: 10vw;
      }

      .locate-content p{
          font-size: 5vw;
      }

      .map{
          margin-top: 1vw;
         margin-bottom: 0;
         width: 100vw;
         height: auto;
      }

      .loc-eli{
          display: none;
      }

      .loc-eli2{
          display: block;
          float: right;
          margin-right: -12px;
          margin-bottom: -20px;
      }

      .foot{
          font-size: 5vw;
      }
  }

.buttonn{
    background-color: #F9773D !important;
    border: none !important;
    height: 50px;
  
    padding: 5px;
}

.buttonne{
    background-color: #F9773D !important;
    border: none !important;
    height: 30px;
}

.conc{
    margin-top: 13vw;
    margin-left: 4vw;
  
}

.conc h3 {
    font-size: 50px;
    color: white;
    margin-left: 20px;
    margin-top: -10px;
}

.concc{
    padding-top: 13vw;
    margin-left: 4vw;
  
}

.concc h3 {
    font-size: 20px;
    color: white;
    margin-left: 20px;
   
}



.img1{
    height: 10vw;
    margin-top: 5px;
}

.team-img h4{
    padding-left: 12px;
    font-size: 1.2vw;
    text-decoration: none !important;
    color: #000000;
}

.wh h4{
    color: white;
}

.secr{
    padding-top: 7vw;
}

.team-vecc{
    height: 25vw;
    padding-top: 100px;
    padding-left: 50px;
}

.team-vec{
    height: 25vw;
  
}


.contact-ph{
    display: none;
}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    
  
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px 20vw;
    padding: 40px;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(51.0249px);
    border-radius: 20px;
    width: 600px;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 50px;
    margin-left:60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    color: #33323D;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #d87606;
  }
  
  .input-box{
    background: #F9773D;
    border: none;
    border-radius: 4px;
    height: 40px;
    margin-top: 10px;
    margin-left: 60px;
    padding: 10px;
    width: 300px;
    color: white;

  }

  .input-box2{
    background: #F9773D;
    border: none;
    border-radius: 4px;
    height: 100px;
    margin-top: 10px;
    margin-left: 60px;
    padding: 10px;
    width: 300px;
    color: white;

  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    
    opacity: 1; /* Firefox */
  }

  .sub{
      margin-left: 60px;
      margin-top: 10px;
  }

  .contact-bike{
      display: block;
      margin-top: -200px;
      margin-right: 20px;
      float: right;
      height: 200px;
  }
  
  .mid{
      margin-left: 10vw;
  }

  .midd{
    margin-left: 40vw;
}

  
@media(max-width: 767px){
    .contact{
        display: none;
    }

    .contact-ph{
        display: block;
    }

    .team-text h2{
        margin-top: 50px;
        font-size: 12vw;
        margin-left: 12vw;
    }

    .team-eli{
        float: right;
        margin-top: 20px;
        margin-right: -70px;
        height: 70vw;
    }

    .team-left{
        margin-left: 10vw;
    }

    .img1{
        height: 25vw;
    }

    .team-img{
        padding-top: 20px;
    }

    .team-img h4{
        overflow-y: visible;
        margin-left: -16px;
        font-size: 4vw;
    }

    .secr{
        margin-right: 10px;
        
        padding-top: 80px;
    }

    .reach{
        padding-top: 100px;
        background-image: url("images/bg2.png");
        background-size: cover;
    }

    .mar h4{
        padding-left: 70px !important;
    }

    .re h2{
        margin-left: 8vw;
        font-family: Roboto;
font-style: normal;
font-weight: bold;
    }

    .buttonn{
        margin-bottom: 10px;
        margin-left: 20vw;
        
    }

    .buttonn h6{
        font-size: 3vw;
    }

    .contact-bike{
        display: none;
    }

    .popup{
        width: 70%;
    }

    .popup h2{
        font-size: 6vw;
        margin-left: 4vw;
    }

    .input-box{
        width: 90%;
        margin-left: 2vw;
    }
    .input-box2{
        width: 90%;
        margin-left: 2vw;
    }

    .sub{
        margin-left: 12vw;
    }
}
