
.navbarr {
   
    float: right;
    margin: 10px;
    
}

.navbarrr {
   
padding-right: 20px;
    
}

@media(max-width:991px){
    .navbarrr {
   
        padding-right: 0px;
            
        }
}




.icon-bar{
    color:black !important;
}


li a{
    color: black !important;
    font-weight: 600;
}

li a:hover{
    background-color: white !important;
}

.header {
    padding-top: 10vw;
    padding-left: 20vw;
    padding-right: 8rem;
    
}

.header-logo{
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 10vw;
}

.header-text{
    margin-top:6vw;
   margin-right: 2vw;


    font-size:  2.5vw;
    color: rgb(0, 0, 0);
    font-weight: 700;
    
    
}

